.wrapper {    
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    // comment
    border: 3px dashed blue;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: .5vh 1vw;

        border: 3px dashed black;
        background-color: aqua;
    }

    .container {
        flex: 1; /* Make the container flex item grow to fill the remaining space */

        margin: 0;
        padding: 0;
        max-width: 100%;

        display: flex;
        flex-direction: row;

        // comment
        border: 3px dashed red;
        background-color: lightgreen;

        .Links_COMPONENT {
            display: flex;
            flex-direction: column;
            justify-content: end;

            padding-left: 2vh;
            padding-bottom: 2vh;

            // comment
            border: 3px dashed black;
            background-color: lightblue;

            .contacts-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10vh;

                // comment
                border: 3px dashed black;
                background-color: lightblue;

                .contacts {
                    transform: rotate(90deg);

                    // comment
                    border: 3px dashed black;
                    background-color: lightseagreen;  
                    
                    a {
                        display: block;
                        width: fit-content;

                        span {
                            white-space: nowrap;
    
                            // comment                        
                            // background-color: red;
                        }
                    }
                    
                }
    
                .social-media {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1vh;

                    // comment
                    border: 3px dashed black;
                    background-color: lightpink;  
                    text-align: center; 

                    div {
                        // comment
                        border: 3px dashed black;
                    }
                }
            }
        }

        .main-info {
            flex: 1; /* Make the container flex item grow to fill the remaining space */

            display: flex;
            flex-direction: column;
            justify-content: end;

            // comment
            border: 3px dashed red;
            background-color: goldenrod;

            .Content_COMPONENT {
                flex: 1; /* Make the container flex item grow to fill the remaining space */

                display: flex;
                flex-direction: column;
    
                border: 3px dashed black;
                background-color: yellow;
    
                main {
                    flex: 1; /* Make the container flex item grow to fill the remaining space */
    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    
                    padding: 10vw;
    
                    // comment
                    border: 5px dashed blue;
    
                    .content-container {
                        display: flex;
                        flex-direction: row;
                        gap: 5vw;
    
                        // comment
                        border: 3px dashed black;
                        background-color: aquamarine;
    
                        .text-container {
                            width: 50vw;
    
                            display: flex;
                            flex-direction: column;
                            gap: 1vh;
    
                            border: 3px dashed black;
                            background-color: red;   
    
                            .content-title {
                                margin: 0;
    
                                // comment
                                border: 3px dashed black;
                                background-color: beige;
                            }
    
                            .content-body {
                                text-align: justify;
    
                                // comment
                                border: 3px dashed black;
                                background-color: greenyellow;                        
                            }
                        }
    
                        .img-container {
                            width: 100%;
                            height: 100%;
    
                            border: 3px dashed black;
                            background-color: blue; 
                        }
                    }
                }
    
    
            }
    
            footer {
                display: flex;
                flex-direction: row;
                justify-content: end;
    
                border: 3px dashed black;
                background-color: coral;   
            }
        }
    }

    nav {
        position: absolute;
        bottom: 0; /* Move the element 50% down from the top of its parent */
        left: 50%; /* Move the element 50% from the left of its parent */
        transform: translate(-50%, -50%); /* Center the element by shifting it back by half of its own width and height */

        display: flex;
        flex-direction: row;
        justify-content: center;

        padding: 2vh 1vw;

        //comment
        background-color: lightskyblue;

        ul {
            display: flex;
            flex-direction: row;
            gap: 1vw;

            padding: 0;
            margin: 0;

            li {
                list-style-type: none;

                // comment
                border: 3px dashed blue;
            }
        }
    }
}

